<h1>EDIT</h1>
          
<br>

<%= form_for @list, url: user_list_path(@list.user, @list), method: "patch" do |f| %>

<%= render partial: "form", locals: {list: @list, user: @user, f: f} %>

<% end %>



