<h3><%= link_to "Create A Top 5 List", new_user_list_path(current_user.id) %></h3>

<h2>Your Profile Page</h2>


<br>
  <%= link_to "View All the Top 5 Lists", lists_path, :class => "lists_link" %>
<br>

<div id="lists"></div>

<div id="average_rating"></div>

<div id="next"></div>



