
<h3><%= link_to "Create A Top 5 List", new_user_list_path(current_user.id) %></h3>

<h2>Your Profile Page</h2>


<br>
  <div id="lists_link"><%= link_to "View All the Top 5 Lists", lists_path %></div>
<br>

<h3>Your Lists</h3>

<% @lists.each do |list| %>
<li><%= link_to list.title, user_list_path(list.user, list) %></li>
<% end %>

