<h1>Welcome to Top 5</h1> 

<h2>Where We Find Out What and Who Truly Is the Greatest!</h2>

<%= link_to image_tag("Top-5-List.jpg") %>

<h2><%= link_to "Sign In", new_user_session_path %></h1>
<h2><%= link_to "Sign Up", new_user_registration_path %></h1>